/* common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 1170px;
    margin: auto;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* common head start */
#same-head .head{
    text-align: center;
    padding: 97px 0px;
}
#same-head .head h1{
    font-size: 32px;
    color: #222222;
}
#same-head .head hr{
   
    background-color: #00b8ef;
    color: red;
    margin: 20px 555px 20px 560px;
    border-radius: 2px;
    padding: 2px 0px;
}
#same-head .head p{
    font-size: 16px;
    color: #444444;
    padding: 0px 295px;
}
/* common head end */

/* common css end */
/* nav start */
nav{
    background-color: #fef8ff;
   
}
nav .row{
    align-items: center;
    justify-content: space-between;
   
}
nav .row img{
    padding-top: 26px;
    padding-bottom: 96px;
}
nav .row li {
    display:inline-block;
    padding: 96px 28px;

}
nav .row li a{
   
    font-size: 20px;
    font-weight: 800;
    color: #848484;

}
nav .row li a:hover{
    color: #00b8ef;
}

nav .row li .btn {
    background-color: white;
    border-radius: px;
    padding: 21px 12px;
    box-shadow: 1px 1px 0 1px;
    border-radius: 5px;
    transition: 0.5s;
}
nav .row li .btn:hover{
    background-color: #00b8ef;
    color: white;
    border-radius: 5px;

}

/* nav end */
/* banner start */

#banner{
    background-color: #fef8ff;
    padding-bottom: 77px;
    padding-top: 0px;
    
}
#banner .content{
    
    background-image: url(./img/banner.png);
    height: 421px;
    background-position: right;
    background-repeat: no-repeat;
    margin-right: -45px;
    
}
#banner .contents{
   
    align-items: center;
    padding-top: 100px;
}
#banner .contents h1{
    width: 500px;
    font-size: 58px;
    color: #222222;
}
#banner .contents p{
    width: 554px;
    font-size: 18px;
    color: #444444;
    padding: 23px 0;
}
/* banner end */

/* categories card start */
#categories-card .row{
    width: 100%;
}
#categories-card .row .card {
    width: 22.5%;
    text-align: center;
    padding: 74px 0px 140px 0px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 12px;
    transition: 0.5s;
}
#categories-card .row .card h3{
    font-size: 24px;
    color: #222222;
    
}
#categories-card .row .card h5{
    font-size: 14px;
    color: #777777;
    padding: 10px 0px;
}
#categories-card .row .card a{
    display: block;
    font-size: 16px;
    padding: 17px 0 0 0;
    color: #444444;
  
}
#categories-card .row .card:hover{
    background-color: #00b8ef;
    color: #ffffff;
    display: block;
    transform: scale(1.2);

}
#categories-card .row .card:hover h3{
    color: #ffffff;
}
#categories-card .row .card:hover h5{
    color: #ffffff;
}
/** overlay */
#categories-card .row .card .Overlay{
    align-items: center;
    position: absolute;
    background-color: white;
    margin-left: 75px;
    margin-top: 5px;
    padding: 0 20px 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #777777;
    visibility:;
}
#categories-card .row .card:hover .Overlay {
    visibility:visible;
}
#categories-card .row .card:hover .Overlay a{
    color: #00b8ef;
}
#categories-card .row .card:hover {
    background-color: #00b8ef;
    
}


/** overlay End */




/* categories card end */
/* works card start */


/* work card start */
#works-card .row{
    width: 100%;
    background-color: white;
}
#works-card .row .card {
    width: 30.05%;
    text-align: center;
    padding: 0px 0px 178px 0px;
    margin: 19px;
}
#works-card .row .card h3{
    font-size: 20px;
    color: #222222;
    
}
#works-card .row .card h4{
    font-size: 16px;
    color: #777777;
}
#works-card .row .card h5{
    font-size: 14px;
    color: #777777;
}
#works-card .row .card img{
    transition: 0.5s;
}
#works-card .row .card img:hover{
    background-color: #00b8ef;
    padding: 20px;
}

/* works card end */
/* remote card start */
#remote-card {
    background-color:#f5f5f5;
    
}

#remote-card .row .card{
    display: inline-block;
    width: 30.7%;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin:15px;
    

}
#remote-card .row .card .img1{
    padding: 21px 0px;
    margin: auto;
}
#remote-card .row .card h2{
    text-align: center;
}
#remote-card .row .card h3{
    font-size: 20px;
    
}
#remote-card .row .card h4{
    font-size: 16px;
    color: #777777;
}
#remote-card .row .card h5{
    font-size: 14px;
    padding: 25px 0px;
    color: #777777;
}
#remote-card .row .card .content{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px;
}
#remote-card .row .card hr{
    color: #777777;
    margin: 0px 30px;
    
}
#remote-card .row .card .content h3{
    font-size: 14px;
}
#remote-card .row .card .content h3 span{
    font-size: 22px;
}
#remote-card .row .card h6{
    font-size: 18px;
    padding: 30px 0px;
}
#remote-card .row .footer{
    display: flex;
    padding: 60px 0px;
    color: black;
}
#remote-card .row .footer h4{
    font-size: 16px;
    color: #444444;

}
#remote-card .row .footer h3{
    margin-left: 550px;
    font-size: 20px;
    background-color: #777777;
    border-radius: 5px;
    padding: 21px 20px;
    transition: 0.5s;
}
#remote-card .row .footer h3 a{
    color: black;
}
#remote-card .row .footer h3 img{
    color:black;
}
#remote-card .row .footer h3:hover{
    background-color: #00b8ef;
    color: white;
    border-radius: 5px;
}

/* remote card end */
/* milestone card start */

#milestone .row .card-one{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 100px;
    
}
#milestone .row .card-two{
    width: 50%;
    padding-bottom: 100px;
}
#milestone .row .card-one .number1{
    width:50%;
    padding-right: 63px;
    text-align: right;
    border-right: 0.5px solid #777777;
    border-bottom: 0.5px solid #777777;
}
#milestone .row .card-one .number1 h2 {
    font-size: 46px;
}
#milestone .row .card-one .number1 h3{
    font-size: 24px;
}
#milestone .row .card-one .number2{
    width: 50%;
    padding-left: 63px;
    text-align: left;
    border-left: 0.5px solid #777777;
    border-bottom: 0.5px solid #777777;
}
#milestone .row .card-one .number2 h2 {
    font-size: 46px;
}
#milestone .row .card-one .number2 h3{
    font-size: 24px;
}
#milestone .row .card-one .number3{
    width: 50%;
    padding-right: 63px;
    text-align: right;
    border-right: 0.5px solid #777777;
    border-top: 0.5px solid #777777;
}
#milestone .row .card-one .number3 h2 {
    font-size: 46px;
}
#milestone .row .card-one .number3 h3{
    font-size: 24px;
}
#milestone .row .card-one .number4{
    width: 50%;
    padding-left: 63px;
    text-align: left;
    border-left: 0.5px solid gray;
    border-top: 0.5px solid gray;

}
#milestone .row .card-one .number4 h2 {
    font-size: 46px;
}
#milestone .row .card-one .number4 h3{
    font-size: 24px;
}
#milestone .card-two .company{
    margin:10px;
    display:inline-block;
    flex-wrap: wrap;
    border: 0.5px solid gray;
    padding: 20px 20px 20px 10px;

}


/**  Partners End*/
/* milestone card end */